div{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    transform:perspective(350px) scaleZ(2) rotateX(45deg) rotateY(30deg);
}