
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik+Gemstones&display=swap');
 
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
   
}
html{
    scroll-behavior: smooth;
    transition-delay: 5s;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/* start  */
.header{
    width: 100%;
    /* height: 100px; */
    position: fixed;
    z-index: 2;
}
.nav-sec{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    background-color: burlywood;

}
.first-nav{
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    align-items: center;
    width: 50%;
    margin-left: 2%;
}
.first-nav .img1{
    width: 50%;
    height: 50%;
}
.first-nav .img2{
    width: 50%;
    height: 50%;

}
.social-media{
    display: flex;
    gap: 5%;
}
.social-media .img3{
    width: 100%;
    height: 100%;
}
.second-nav{
    width: 50%;
    height: 100%;

}
.second-nav ul {
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 3%;


}
.second-nav ul li{
    list-style: none;
}
.second-nav ul li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: red;
    color: white;
    padding: 1%;
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-radius: 10%;
    font-size: 100%;
    font-weight:bold;

}
.second-nav ul li a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 20%;
}
/* media query for navbaar section */


/* --------main-section -------*/
.bg-image{
    background-image: url(https://paruluniversity.ac.in/master_2024/images/banner/desktop.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 91rem; */
    background-position: center;
    width: 100%;
    height: 48rem;
}
.main-sec{
    margin-top: 2rem;
    background-color: #ffffff;
}
.sub-main-heading{
    text-align: center;
    font-weight: 300;
    font: 200% 'roboto',sans-serif;
    /* width: 90rem; */
}
.main-sub-heading{
    text-align: center;
    font-size: 250%!important;
    font-weight: 700!important;
    

}
.cards{
   
    width: 100%;
    height: 100%;
    /* flex-wrap: wrap; */
    display: flex;
align-items: center;
justify-content: space-evenly;
margin-top: 3.5rem;
gap: 1%;

}
.card {
   
    width: 25%;
    height: 10%;
}
.card img{
width: 100%;
height: 100%;
align-items: center;
}
.sub-card-sec{
    width: 50%;
    height: 4rem;
    position: relative;
    bottom: 10rem;
    left: 25%;
}
.sub-card-sec img{
    width: 100%;
    height: 4rem;
}
/* .sub-card-sec-sub-img{
    width: 12rem;
} */

.text-sec{
    width: 100%;
    text-align: center;
    height: 10%;

}
.text-sec p{
    font-size: 80%;
}
.university-img{
    background-image: url(https://paruluniversity.ac.in/master_2024/images/about/aboutus.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 92rem; */
    width:100%;
    height: 22.23rem;
    background-position: center;
}
.main-bg-img{
    background-image: url(https://static.vecteezy.com/system/resources/previews/024/055/580/non_2x/a-buddha-sits-in-a-garden-with-a-lotus-and-candles-background-for-vesak-festival-celebration-vesak-day-concept-vesak-celebration-day-greetings-by-ai-generated-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100% ;
    height: 75rem;
    margin-top: 1.5rem;
    position: relative;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    
}
.overlay{
    /* width:92rem ; */
    width: 100%;
    height: 75rem;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0, 0,0.9);
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
}

.bg-text-sec{
    /* width: 82.4rem; */
    width: 100%;
    height: 2.5;
    margin-top: 3rem;
    text-align: center;
    color:#ffffff;
  

}
.bg-sub-text{
    font-size: 2rem;
    font-weight: 300;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    
}
.bg-text-heading{
    font-size: 2.8rem!important;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
  
}

/* ----another card section--- */
.another-card-sec{
    /* width: 92rem; */
    width: 100%;
    height: 23rem;
    display: flex;
    justify-content: center;
}
.card-sec{
    width: 33%;
    height: 22.9rem;
    color: #ffefef;
    
}
.text-content{
    font: 150% 'roboto',sans-serif;
    color: #CCCCCC;
}
.requirment-sec{
    font: 230% 'roboto',sans-serif;
    color: #FFCC29;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.card-sec-middle{
    width: 33%;
    height:22rem ;
    background: rgba(0,0, 0,0.3);
    
}
.card-sub-sec-middle:hover{
    transform: scale(25%);
   
}
.card-sub-sec-middle{
    width: 80%;
    height: 22rem;
    background: #f1f1f133;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}
.middle-text{
    width: 100%;
    height: 12.7rem;
    font: 190% 'roboto',sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
}
.middle-text span{
    color: #FFCC29;
}


.hired-text-sec{
    font: 220% 'roboto',sans-serif;
    color: #FFCC29;
    margin-bottom: 0.5rem;
    font-weight: 800;
    margin-top: 2rem;
}
.btn-sec li {
    width: 100%;
    height: 3.25rem;
    font: 1.25rem 'roboto',sans-serif;
    border-radius: 0.5rem;
    border: 1px solid #CCCCCC;
    text-align: center;
    list-style: none;
    margin-top: 1rem;
    /* background: rgba(0,0, 0,0.1); */
}
.dev-sec{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-cards{
    /* width: 92rem; */
    width: 100%;
    height: 5.15rem;
    display: flex;
    justify-content: space-evenly;
    padding-right: 1rem;
}
.small-card-sec img{
    width: 100%;
}
.small-card-sec{
    width: 100%;
    height:5.13rem ;
    transition: 1s;
    cursor: pointer;
    overflow-x: hidden;
}
.small-card-sec:hover{
    transform: scale(25%);

}
/* ----enginner section--- */
.engi-sec{
    /* width: 92rem; */
    width: 100%;
    height: 23rem;
    display: flex;
    gap: 1%;
    justify-content: space-evenly;
    margin-top: 6rem;
    padding-right: 1%;
}
.engi-text{
    width: 100%;
    height: 16.5;
    color: #ffffff;
    text-align: start;
    /* box-shadow: 0px 0.5rem  1rem #ffffff; */
    border-radius: 0.5rem;
}
.engi-sub-text{
    font-weight: 400;
    font: 200% 'roboto',sans-serif;
}
.engi-sub-text-heading{
    font-weight:bolder;
    font: 250% 'roboto',sans-serif;
    font-weight: 900;
}
/* ---engi--- */
.engi-teacher-sec{
    width: 100%;
    height:22.5rem ;
    color: #030303;
    /* box-shadow: 2px 5px 10px #CCCCCC; */
    border-radius: 1rem;
    background: #f2f0f0;
    transition: 0.5s;
    font-weight:500;
    transition: 2s;
}
.engi-teacher-sec:hover{
    transform: scale(70%);
    width: 11.77rem;
    height:22.5rem ;
    color: #fdfcfc;
    /* box-shadow: 2px 5px 10px #CCCCCC; */
    border-radius: 1rem;
    background:rgba(0,0, 0,0.1);
}
.engi-teacher-sec img{
    width: 100%;
    height:17.15rem ;
    
}
.name-sec{
    /* color:black; */
    text-align: center;
    font: 1.25rem 'roboto',sans-serif;
    font-weight: 400;
    margin: 0.5rem 0rem 0.25rem;
}
.name-sec:hover{
    color: white;
}
.profession-sec{
    text-align: center;
    margin:0 0 0.24rem;
}


/* ------acedemic-journey */
.academic-journey{
    background-color: #ffffff;
    /* width: 92rem; */
    width: 100%;
    height: 33.8rem;
    padding: 3rem 0 3rem 0;
}
.learning-sec{
/* width: 82rem; */
width: 100%;
height: 27.8rem;

}
.academic-journey-sec{
    /* width: 82rem; */
    width: 100%;
    height: 6.5rem;
    margin: 5% 0 0 0;
   
}
.academic-header{
/* width: 80rem; */
width: 100%;
height:3.35rem;
text-align: center;
font: 230% 'roboto',sans-serif;
font-weight: 500;
margin-bottom: 0.5rem;
}
.academic-subfooter{
    /* width: 80rem; */
    width: 100%;
    height: 220%;
    text-align: center;
    font: 1.75rem 'roboto',sans-serif;
    margin-bottom: 0.5rem;

}

/* ---learning card section */
.learning-cards-sec{
    /* width: 82rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 4.5rem;
}
.learning-card-sub-sec{
    width: 100%;
    height: 15.26rem ;
    padding: 2rem;
    border-right:1px  dotted black;
    font: 1.2rem 'roboto',sans-serif;
    font-weight: 500;
}
.learning-card-sub-sec img{
    width: 100%;
    height: 3.81rem;
}
.learning-card-sub-sec p{
    margin: 1rem 0;
}


.learning-card-sub-sec1{
    width: 100%;
    height: 15.26rem ;
    padding: 2rem;
    border-right:1px  dotted black;
    font: 120%  'roboto',sans-serif;
    font-weight: 500;
}
.learning-card-sub-sec1 img{
    width: 100%;
    height: 3.74rem;
}
.learning-card-sub-sec1 p{
    margin: 10% 0;
}

.learning-card-sub-sec2{
    width: 100%;
    height: 15.26rem ;
    padding: 2rem;
    border-right:1px  dotted black;
    font: 120%  'roboto',sans-serif;
    font-weight: 500;
}
.learning-card-sub-sec2 img{
    width: 100%;
    height: 3.74rem;
}
.learning-card-sub-sec2 p{
    margin: 10% 0;
}

.learning-card-sub-sec3{
    width: 100%;
    height: 15.26rem ;
    padding: 2rem;
    border-right:1px  dotted black;
    font: 120%  'roboto',sans-serif;
    font-weight: 500;
}
.learning-card-sub-sec3 img{
    width: 100%;
    height: 3.79rem;
}
.learning-card-sub-sec3 p{
    margin: 10% 0;
}


.learning-card-sub-sec4{
    width: 100%;
    height: 15.26rem ;
    padding: 2rem;
    /* border-right:1px  dotted black; */
    font: 120% 'roboto',sans-serif;
    font-weight: 500;
}
.learning-card-sub-sec4 img{
    width: 100%;
    height: 3.86rem;
}
.learning-card-sub-sec4 p{
    margin: 10% 0;
}

/* ----coursec--- */
.cources{
   

}
.cources1{
    height: 1050px;
   
    width: 100%;
    margin: 0 0 -7rem;
    padding: 3rem 0;
   
    justify-content: center;
    background-color: #ffffff;
    border-bottom-right-radius: 5rem;
    /* box-shadow: 10px 10px 20px black; */
    border-bottom-left-radius: 5rem;
    /* z-index: 5; */
}
.courses-sec{
    width: 100%;
    height: 13.94rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
    margin-left: 10%;
}
.industry{
    width: 30%;
    height: 13.44rem;
    margin-bottom: 0.5rem;
    font: 230% 'roboto',sans-serif;
    font-weight: 500;
    padding: 0 0.9rem;
    /* text-align: center; */
}
.degree-sec{
    width: 70%;
    height: 13.44rem;
    

}
.main-degree-sec{
    width: 70%;
    height: 30%;
    border: 1px solid black;
    border-radius: 0.5rem;
    position: relative;
    top: 4.2rem;
    
}
.main-degree-sec ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font: 100% 'roboto',sans-serif;
    font-weight: 900;
    padding: 1rem;
    justify-content: space-evenly;
}

.main-degree-sec ul li{
    list-style: none;
}
.main-degree-sec ul li a{
    text-decoration: none;
    color: #030303;
}
.diploma{
   
    background-color: #D20005;
    border-radius: 10px !important;
    color: #ffffff;
    padding: 1rem 1rem 2.95rem 1rem;
    
}
#diploma{
    color: #F5F5F5;
    font-weight:900;
}
.diploma{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 63% 85%, 50% 75%, 0% 75%);
    transition: 0s;
    
}
.ug{
    
    /* background-color: #D20005; */
    border-radius: 10px !important;
    color: #ffffff;
    padding: 1rem 1rem 1.53rem 1rem;
}
.pg{
    
    /* background-color: #D20005; */
    border-radius: 10px !important;
    color: #ffffff;
    padding: 1rem 1rem 1.53rem 1rem;
}
.hono{
    
    /* background-color: #D20005; */
    border-radius: 10px !important;
    color: #ffffff;
    padding: 1rem 1rem 1.53rem 1rem;
}
.dd{
   
    /* background-color: #D20005; */
    border-radius: 10px !important;
    color: #ffffff;
    padding: 1rem 1rem 1.53rem 1rem;
}

/* ----sub-courses -----*/




.main-sub-courses{
    /* text-align: center; */
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub-courses{
    width: 100%;
    height: 9.5rem;
    padding: 0.5rem 0;
    margin: 0 -1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
   
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
}
.sub-courses-sec{
    width: 100%;
    height: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 5px 10px #686363;
    font-size: 1rem;
    margin: 0.5rem 0 0;
    border-radius: 10px;
    transition: 2s;
}

.sub-courses-sec:hover{
    transform: scale(25%);
}


.fa-solid{
    opacity: 0;
    font: size 1rem;
    
   
}

.sub-courses-sec:hover{
    background-color: #FFCC29;
    opacity: 1;
}

.fa-solid:hover{
    opacity: 1;
}

.program{
    width: 100%;
    height: 9.5rem;
    margin: 0 -1.19rem;
    padding: 3rem 0 0;
    /* text-align: center; */
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.program-sec{
    font-family: 'Londrina Outline', cursive;
    font-size: 400%;   
}
.program a{
    text-decoration: none;
    margin-top: 1rem;
}
.apply-btn{
    width: 100%;
    height:2.85rem ;
    background-color: #D20005;
    font-weight: 900;
    font: 200% 'roboto',sans-serif;
    padding: 1rem;
    margin: 0 0 8px;
    color: #ffffff;
    border-radius:10rem ;
    border: 1px solid ;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.program1{
    position: relative;
    bottom: 5rem;
    /* bottom: 100%; */
    margin-bottom: 3rem;
}

/* ---------bg round----- */
.black-bg-main{
    width: 100%;
    margin: auto;
}
.black-bg-sec{
    background-image: url(https://static.vecteezy.com/system/resources/previews/024/055/580/non_2x/a-buddha-sits-in-a-garden-with-a-lotus-and-candles-background-for-vesak-festival-celebration-vesak-day-concept-vesak-celebration-day-greetings-by-ai-generated-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 92rem; */
    width: 100%;
    height: 105.6rem;
    /* padding: 3rem 0; */
    position: relative;
    bottom: 10rem;
     z-index: -1;
}
.overlay1{
    /* width:92rem ; */
    width: 100%;
    height: 105.6rem;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0, 0,0.9);
    
}
.overlay2{
    display: flex;
    justify-content: center;
}

.education{
    width: 100%;
    height: 48.985rem;
    /* background: #000; */
    margin-top: 7rem;
    display: flex;

   
}
.edu-sec{
    width: 50%;
    height: 48.985rem;
    border-right: 1px dotted rgb(244, 236, 236);
    /* background-color: #D20005; */
    padding: 3rem;
}

.edu-sec h1{
    font: 250% 'roboto',sans-serif;
    font-weight: 500;
    color: #fff!important;
    margin-bottom: 0.5rem;
}
.edu-sec ul{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;

}
.edu-sec ul li{
    list-style: none;
    background-color: #686363;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 150%rem;
    border-radius: 0.5rem;
}
.edu-sec ul :nth-child(1){
    background-color: #D20005;
}

.edu-sub-sec{
    display: flex;
    margin-top: 1rem;
}
.youngest-uni{
    width: 100%;
    height: 10.9rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-bottom:1px dotted #CCCCCC;
    border-right: 1px dotted #CCCCCC;
}
.youngest-uni h2{
    font: 220% 'roboto',sans-serif;
    font-weight: 900;
    color: #FFCC29;
}
.youngest-uni p{
    font: 1rem 'roboto' sans-serif;
    color: #CCCCCC;
}

.youngest-uni1{
    width: 100%;
    height: 10.9rem;
    margin: 1rem;
    padding: 1rem 2rem;
    
}
.youngest-uni1 h2{
    font: 2rem 'roboto',sans-serif;
    font-weight: 900;
    color: #FFCC29;
}
.youngest-uni1 p{
    font: 1rem 'roboto' sans-serif;
    color: #CCCCCC;
}
.youngest-uni2{
    width: 50%;
    height: 10.9rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-right: #CCCCCC dotted 1px;
    
}
.youngest-uni2 h2{
    font: 250% 'roboto',sans-serif;
    font-weight: 900;
    color: #FFCC29;
    
}
.youngest-uni2 p{
    font: 1rem 'roboto' sans-serif;
    color: #CCCCCC;
}


.edu-sec1{
    width: 50%;
    height: 48.985rem;
    /* border-right: 1px solid dotted #686363; */
    /* background-color: #D20005; */
    padding: 3rem;
}
.edu-sec1 h1{
    color: #FFF;
    font-weight: 400;
    font: 250% 'roboto',sans-serif;
}
.edu-sec1 p{
    font: 150% 'roboto',sans-serif;
    color: #FFF;
    font-weight: 300;
}

.curricu{
    display: flex;
    /* flex-wrap: wrap; */
    padding:3rem 0 ;
    justify-content: flex-start;
    margin: 0 -1rem;
    text-align: start;
}
.curricu-sec{
    width:100%;
    height:10.438rem ;
    padding: 0 1rem;

}
.curricu-sec p{
margin: 1rem 0;
font: 1rem 'roboto',sans-serif;

}
.curricu1{
    display: flex;
    /* flex-wrap: wrap; */
    padding:1rem 0 ;
    justify-content: flex-start;
    margin: 0 -1rem;
    text-align: start;
}
.efect-sec{
    /* width: 1310px; */
    width: 100%;
    height: 269.91px;
    padding: 3rem 0;
    margin: auto;
    
    
}
.efect-sec img{
    /* width: 1310px; */
    width: 100%;
    height: 100%;
    
}

.gautam-budhha-sec{
    /* width: 1310px; */
    width: 100%;
    height: 476px;
    color: #ffefef;

    display: flex;
    /* margin: auto; */
    justify-content: center;

}
.budhha-writing-sec{
    /* height: 576px; */
    height: 523px;
    /* width: 655px; */
    width: 100%;
}

.budhha-writing-sec p{
    font-size: 200%;

}
.budhha-writing-sec h1{
font-size: 250%;
font-weight: 900;
}
.budhha-writing-sec h5{
font-size: 150%;
padding: 1rem 0.984rem 1rem 0;
margin: 0 0 1rem;
font-weight: 300;
width: 100%;
line-height: 1.5rem;

}
.budhha-writing-sub-sec{
    
   position: relative;
   top: 4.5rem;
}

.budhha-img-sec{
 width: 100%;
 height: 523px;
 padding: 0.5rem;
 transition: 2s;
}
.budhha-img-sec img{
    width: 100%;
    height: 100%;
}
.budhha-img-sec:hover{
transform: scale(35%);
}



/* -------Traning section---- */
.training{
    /* width: 92rem; */
    width: 100%;
    height: 768px;
    padding:3rem 0;
    position: relative;
    bottom: 10rem;
}
.training-sec{
    /* width: 91rem; */
    width: 100%;
    height: 587.76px;
    padding: 0 5rem;
    display: flex;
    margin: auto;
    margin-bottom: 5rem;

}
.traning-writing-sec{
    /* width: 640px; */
    width: 100%;
    height: 449.15px;
    padding: 0 15px;
    position: relative;
    top: 4rem;
}
.speak{
    padding: 0 0 3rem;
}
#speak{
    font-size: 2.8rem;
    font-weight: 100;
}
.traning-writing-sec h1{
    font: 250% 'roboto',sans-serif;
    padding: 0 0 2rem;
    font-weight: bold;
}
.traning-writing-sec p{
    font: 150% 'roboto',sans-serif;
    font-weight: 500;
}
.traning-img-sec{
    /* width:640px; */
    width: 100%;
    padding: 0 15px;
}
.traning-img-sec img{
    /* width: 610px; */
    width: 100%;
    height: 100%;
}

/* -------fitnes section---- */
.fitnes-facilities{
    /* width: 92rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 817.26px;
    padding: 3rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fitness-writing{
    /* width: 1140px; */
    width: 100%;
    /* height: 108.5px; */
    margin: 3rem 0;
    padding: 0 15px;
    text-align: center;
}
.fitness-writing p{
    font-size:200% ;
    font-weight:100 ;
    margin-bottom: 0.5rem;
}
.fitness-writing h1{
    font-size:250% ;
    font-weight:bolder ;
    margin-bottom: 0.5rem;
}
.fitness-cards{
    /* width: 1140px; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
}
.fitness-cards img{
    width: 100%;
    height: 453.11px;
    box-shadow: 0 0 10px gray;
    margin-left: 2px;
    transition: 2s;
    border-radius: 16px;
}
.fitness-cards img:hover{
    transform: scale(45%);

}

/* ---more-degree-- */
.more-degree{
    /* width: 92rem; */
    width: 100%;
    height: 414.14px;
    padding: 3rem 0;
    
}
.more-deg-sub{
    width: 100%;
    height: 318.15px;
    display: flex;
    margin: auto;
}

.more-deg-writing{
    width:30%;
    height:107.5px ;
    padding: 0 15px;
    position: relative;
    top: 4rem;
   
}


.more-deg-writing h1{
    font-size:230%;
    font-weight:bolder ;
    margin-bottom: 0.5rem;

}
.more-deg-writing p
{
    font-size:180% ;
    margin-bottom: 0.5rem;
    font-weight: 400;
}


.more-deg-cards{
    width:70% ;
    height: 100%;
    padding: 0 15px;
    display: flex;
    gap: 1rem;

}

.more-deg-card{
    width:100% ;
    height: 100%;
    border-bottom: 2px solid #D20005;
    text-align: center;
    padding: 1rem;
    transition: 2s;
}
.more-deg-card:hover{
    transform: scale(45%);
}

.more-deg-card h2{
    font-size: 150%;
    margin-bottom: 0.5rem;
}
.more-deg-card h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.more-deg-card p{
    font-size:100%;
    margin-bottom:0.5rem ;
}
.more-deg-card img{
    width: 124.55px;
    height: 124.55px;
}
.more-deg-cards:nth-child(2){
    border-color: #FFCC29;
}


/* -------------development------- */
.development{
    /* width: 92rem; */
    width: 100%;
    height: 944.15px;
    padding: 3rem 0;
}
.development-cards{
    width: 100%;
    height: 848.15px;
    display: flex;
    margin: auto;

}
.development-card{
    /* width: 655px; */
    width: 50%;
    height: 800.15px;
    padding: 0 15px;
}
.development-card p{
font-size: 200%;
}
.development-card h1{
    font-size: 230%;
    font-weight: bolder;
}
.dev-cards{
    display: flex;
}
.dev-card{
    width: 100%;
    height: 203.5px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #CCCCCC;
    transition: 2s;
    cursor: pointer;
}
.dev-card:hover{
    transform: scale(55%);

}
.dev-card h1{
font-size:230%;
font-weight: bolder;
color: #D20005;
}
.dev-card p{
    font-size: 150%;
    font-weight: 400;
}
.dev-card1{
    width: 100%;
    background-color: #FFCC29;
    color: #000;
}
.dev-card2{
height: 149.75px;
width: 100%;
}
.dev-sub-card{
    width: 163.75px;
    height: 205px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px #CCCCCC;
    transition: 2s;
    cursor: pointer;
    
}
.dev-sub-card:hover{
    transform: scale(75%);
}
.dev-sub-card p{
    font-size: 1.24rem;
}
.development-card1{
    background-image: url(https://images.unsplash.com/photo-1562789233-495f52b583dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* width:655px; */
    width: 100%;
    height: 800.15px;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius:6rem ;
    transition: 2s;


}
.development-card1:hover{
    transform: scale(75%);
}
.overlay3{
    /* width:655px; */
    width: 100%;
    height: 800.15px;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius:6rem ;
    transition: 2s;
}
.overlay3:hover{
    transform: scale(75%);

}
.overlay3 .h1{
    /* width: 559px; */
    width: 100%;
    height: 107.5px;
    font-size: 230%;
    color: #fff;
    margin: auto;
    /* text-align: center; */
    padding-top: 1rem;   
}
.pakages{
    display: flex;
    justify-content: center;
}
.pakages h1{
    color: #FFCC29;
    font-size: 220%;
}
.pakages p{
    color: #FFF;
    font-size: 150%;
    font-weight: 500;
}

.pakage-sec{
    width: 100%;
    height: 184px;
    margin: 1rem;
    padding: 1rem 2rem;
    
}

.pakage-sec1{
    width: 100%;
    height: 184px;
    margin: 1rem;
    padding: 1rem 2rem;
    border-right: 1px dotted #faf6f6;
    /* border-bottom: 1px dotted #686363; */
   
}
.package1{
    width: 100%;
    height: 204px;
    border-bottom: #fefdfd dotted 1px;
}

.pakage-sec2{
    width: 100%;
    height: 208px;
    margin: 1rem;
    padding: 1rem 2rem;
    border-bottom: 1px dotted #fcfafa;

}
.pakage-sec3{
    width: 100%;
    height: 160px;
    margin: 1rem;
    padding: 1rem 2rem;
    border-right: 1px dotted #faf8f8;

} 
.pakage-sec4{
    width: 100%;
    height: 144px;
    margin: 1rem;
    padding: 1rem 0rem;

}
/* -----role model--- */
.rol-model{
   
    width: 100%;
    height: 754px;
    padding: 0 5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.rol-model-sec{
    /* width:1280px ; */
    width: 100%;
    height:754.89px ;
}

.rol-model-writing{
    /* width: 1280px; */
    width: 100%;
    height: 189.1px;
    padding: 0 15px;
}
.rol-model-writing h1{
    font-size: 250%;
    font-weight: bold;
}
.rol-model-writing p
{
    font-size: 180%;
}
.rol-models-cards{
    /* width: 1280px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rol-model-card{
    display: flex;
    width: 35%;
    height: 408px;
    justify-content: space-between;
  
    
}
.rol-model-sub-sec{
    width: 50%;
}

.rol-model-sub-sec img
{
    width:100% ;
    height: 392px;
    margin-top: 1rem;
    padding: 0 4px;
    transition: 2s;

}
.rol-model-sub-sec img:hover{
    transform: scale(40%);

}
.rol-model-sub-sec1{
    width: 50%;
}
.rol-model-sub-sec1 img{
    width: 100%;
    height: 185.78px;
    margin-top: 1rem;
    padding: 0 4px;
    transition: 1s;
}
.rol-model-sub-sec1 img:hover{
    transform: scale(40%);
}
.rol-model-card1{
    width: 30%;
}
.rol-model-card1 img{
    width: 100%;
    height: 388.54px;
    margin-top: 1rem;
    transition: 1.5s;
}
.rol-model-card1 img:hover{
    transform: scale(55%);
}


 
.overlay4{
    /* width:92rem; */
    width: 100%;
    height: 620.2px;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    margin-top: -2rem;
}
.speak2{
    color: #0a0a0a;
    display: flex;
    gap: 1rem;
    
}
.traning-writing-sec1{
    color: #fff;
    
}
.training-sec1{
    position: relative;
    bottom: 8rem;
}
.manoj{
    margin-top: 30%;
}
.h1{
    margin-top: 3rem;
}
.overlay5{
    /* width:92rem; */
    width: 100%;
    height: 1580.2px;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(71, 70, 70, 0.8);
}
/* -----------5th back bg-------- */
.interantional{
    font-size: 900%;
    font-family: 'Londrina Outline', cursive;
    position: relative;
    bottom: 7rem;
    left: 20%;
    color: #fcfafa;font-weight: 100;
    opacity: 0.4;
}
.another-degree{
    color: white;
    width: 100%;
}
.more-deg-sub{
    width: 100%;
}
.another-deg-sec{
    width:30%;
    height:107.5px ;
    padding: 0 15px;
    /* position: relative; */
    /* top: 4rem; */
}
.another-deg-sec h1{
    font-size: 220%;
    font-weight: bolder;

}
.another-deg-sec p{
    font-size:160%;
}
.cards1{
    width: 70%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.card-1{
    width: 100%;
    height: 266.81px;
    padding: 1rem;
}
/* ------four cards sec */
.four-cards{
    /* width: 92rem; */
    width: 100%;
    height: 512px;
    padding: 3rem 5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
}
.four-cards-sec{
    /* width: 1280px; */
    width: 100%;
    height: 400px;
    padding:0 15px ;
    margin:16px 0 0;
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
}
.st1-card{
width: 100%;
height: 385px;
background-color: #fef5f5;
border-radius: 14px;
transition: 2s;

}
.st1-card:hover{
    transform: scale(30%);
}

.st1-card img{
    width: 100%;
    height: 189.39px;
}
.st1-card h3{
    font-size: 1.5rem ;
    margin-bottom: 0.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
    
}
.st1-card p{
    margin-left: 0.5rem;
    line-height: 1.5rem;
}

/* -----------fifth cards */
.fifth-card{
    /* width: 92rem; */
    width: 100%;
    height: 230.55px;
    margin:0 -15px ;
    padding:48px 0 ;
    display: flex;
    
    justify-content: center;
}
.fift-card-sec{
    /* width: 1080px; */
    width: 100%;
    height: 134.55px;
    padding: 0 15px;
    display: flex;
    gap: 2%;
   justify-content: space-evenly;
}
.fitth-cards{
width: 100%;
height: 134.55px;
background-color: rgb(202, 196, 196 );
backdrop-filter: blur(8px);
border-radius: 1.5rem;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
transition: 2s;
}
.fitth-cards:hover{
    transform: scale(50%);
}
#fitth-cards{
    background-color: #FFCC29;
}

/* --------------stsrtup sec-------------- */
.startup-section{
    /* width: 92rem; */
    width: 100%;
    height: 977.4px;
    background-color: #F5F5F5;
    display: flex;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    position: relative;
    bottom: 7rem;
}
.left-sec{
    width: 60%;
    height: 929.4px;
    padding: 0 5.5rem;

}

.left-sub-sec{
    width: 100%;
    height: 398.7px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* margin: auto; */margin: 128px -15px 0;

}
.left-sub-sec .left1{
    font-size: 180%;
    /* font-weight: 500; */
    margin-bottom: 0.5rem;
    font-weight: 200;
}
.left1 span{
    font-weight: 500;
}
.left-sub-sec h1{
    font-size: 230%;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.left-sub-sec .left2{
    font-size: 100%;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    line-height: 1.5rem;
}
.left-startup--cards{
    width: 100%;
    height:402.7px ;
    display: flex;
    /* align-items: center; */
    align-items: baseline;

}
.left-img1{
    width:100% ;
    height:100% ;
    transition: 1s;

}
.left-img1:hover{
    transform: scale(35%);
}
.left-img2{
    width:100% ;
    height:100% ;
    transition: 1s;
    
}
.left-img2:hover{
    transform: scale(35%);
}

.left-img3{
    width:100% ;
    height: 100%;
    transition: 1s;
    
}
.left-img3:hover{
    transform: scale(35%);
}
.red-sec{
    background-color: #D20005;
    padding: 1rem 1rem 1rem 5rem;
    margin: 3rem 0 0 -65.6px;
    width: 283.77px;
    height: 97.6px;
    position: relative;
    right: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.red-sec p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
.right-sec{
    width:40% ;
    height:929.4px ;
    padding: 0 5rem;
    background-color: #FFCC29;
    border-top-right-radius: 10rem;
}
.right-sec h1{
    font-size: 400%;
    font-weight: 900;
}
.right-sec-cards{
    display: flex;
    justify-content: space-between;
    

}

.right-card{
    width:100%;
    height: 186.6px;
    margin: 1rem 0 0 ;
    padding: 0 15px;
}
.right-card p{
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    margin: 1rem 0 0.5rem;
}
.right1{
    margin:10% -15px 0;
}

/* ----only write */
.only-write{
    /* width: 92rem; */
    width: 100%;
    height: 103.3px;
    padding:0 15px 0 48px ;
    margin: 0 0 0 3rem;
    position: relative;
    bottom: 5rem;
}
.only-write p{
    font-size: 150%;
    margin-bottom: 0.5rem;

}
.only-write h1{
    font-size: 230%;
    font-weight: 900;
    margin-bottom: 0.5rem;

}
.another-startup-cards
{
    height: 812.4px;
    /* width: 92rem; */
    width: 100%;
    padding-top: 1.5rem;
}
.another-startup-card{
    height: 572.81px;
    /* width: 1410px; */
    width: 100%;
    display: flex;
    justify-content:flex-start;
    
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    /* transition: 2s; */
    /* gap: 1rem; */
    
}

.another-startup-card h5{
    font-weight: 500;
    font-size:120%;
    margin-bottom: 0.5rem;
    color: #FFF;
}
.another-startup-card p{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #FFF;
}
.another-card-sec3{
    height: 572.81px;
    width: 100%;
    background-image: url(https://paruluniversity.ac.in/master_2024/images/life/b1.webp);
    display: flex;
    flex-direction: column;
   
    justify-content: baseline;
    text-align: start;
    align-items: baseline;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

}
.another-card-sec3:hover{
    transform: scale(65%);
}
.another-writing-sec{
    display: flex;
    flex-direction: column;
   
    justify-content: baseline;
    text-align: start;
    padding: 0 0 0 1rem;
margin-top: 21rem;

}
.another-card-sec1{
    height: 572.81px;
    width:100%;
    background-image: url(https://paruluniversity.ac.in/master_2024/images/life/b2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 3s;
}
.another-card-sec1:hover{
    transform: scale(65%);
}
.another-card-sec2{
    height: 572.81px;
    width: 100%;
    background-image:url(https://paruluniversity.ac.in/master_2024/images/life/b3.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 3s;
}
.another-card-sec2:hover{
    transform: scale(65%);
}
.another-card-sec4{
    height: 572.81px;
    width: 100%;
    background-image:url(https://paruluniversity.ac.in/master_2024/images/life/b4.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 3s;

}
.another-card-sec4:hover{
    transform: scale(65%);
}
/* ---------- university image -------------- */
.another-university-img{
    /* width: 92rem; */
    width: 100%;
    height: 1026px;
    background-image: url(./images/lifebackground.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.university-writing-sec{
    /* width: 92rem; */
    width: 100%;
    height: 410px;
    padding: 3rem 15px 0;
    text-align: center;
    margin: -224px 0 0;
}
.university-writing-sec h2{
    font-size:220% ;
    font-weight:600 ;
    color: #fff;
    
}
.university-writing-sec h1 span{
    font-family: 'Londrina Outline', cursive;
    color: #fff;
    font-weight: 300;
}
.university-writing-sec h1{
    font-size:192px ;
    /* font-weight: ; */
    color: #FFCC29;
   
}
.university-writing-sec h3{
    font-size:1.75rem ;
    font-weight:400 ;
    color: #fff;
}

/* -----------------------sports------ */
.sports-culture{
    /* width: 92rem; */
    width: 100%;
    /* height: ; */
}
.sports-sec{
    /* width: 92rem; */
    width: 100%;
    height:650px;
    margin: auto;
   

}
.sports-sub-sec {
    width: 90%;
    height:84.4px;
    margin: -3rem 0 0;
    /* padding: 0 0 3rem; */
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    
}
.sports-card-sec{
    text-align: center;
    width: 180px;
    height: 94px;
    border: 0px solid white;
    /* background-color: #D20005; */
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    
}
.sports-card-sec1{
    background-color: #D20005;
    padding-bottom:1rem;
}
#cultur-fest{
    color: white;
    font-weight: 800;
}
.sports-card-sec1{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 63% 85%, 50% 75%, 0% 75%);
    transition: 0s;
    

}

.sports-card-sec a{
    text-decoration: none;
    color: rgb(9, 9, 9);
    
    font-size: 17.6px;

}
/* -----cultur-cards---- */

.culture-cards{
    /* width: 92rem; */
    width: 100%;
    height: 800px;
    /* margin-top: 5rem; */
margin: auto;
background-color: #f6f2f2;
border-bottom-left-radius: 10rem;
border-bottom-right-radius: 10rem;
}

.culture-card{
    /* width: 1310px; */
    width: 100%;
    height: 552px;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.culture-sub-card{
    width: 50%;
    padding: 0 15px;
}
.imge-1{
    /* width:610px ; */
    width: 100%;
    height:282.8px;
    transition: 2s;
}
.imge-1:hover{
    transform: scale(30%);
}
.imge-2{
width: 50%;
height:220.7px ;
transition: 2s;
}
.imge-2:hover{
    transform: scale(30%);
}
.imge-3{
width:100% ;
height: 212.81px;
transition: 2s;
}
.imge-3:hover{
    transform: scale(30%);
}

.culture-sub-cards {
    width: 100%;
    display: flex;
    gap: 1%;
    justify-content: space-between;
}
.culture-sub-cards2 img{
     padding:  0 0 1rem

}
.culture-sub-cards1 img
{
    margin-top: 1rem;
}
.last-second
{
    background-image: url(https://media.istockphoto.com/id/1189899412/photo/architect-working-on-blueprint-with-team.webp?b=1&s=170667a&w=0&k=20&c=i0fL4G1NnkHVBdIlVgyXFQmCtKNN-vNcCOOP1fu00Rw=);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 92rem; */
    width: 100%;
    height: 1050px;
    position: relative;
    background-position: center;
    bottom:6rem;
    /* z-index: 1; */
}
.overlay6{
    /* width: 92rem; */
    width: 100%;
    height: 1050px;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}
.speak2{
    display: flex;
    margin-bottom: 2rem;
}
.traning-sec-2{
    position: relative;
    bottom: 10rem;
}
.writing2 h1{
    color: #fff;


}
.writing2 p i{
    color: #fff;
}

/* -------- */
.last-sec{
    /* width: 1310px; */
    width: 100%;
    height: 358.4px;
    padding: 0 15px;
    text-align: center;
    margin: auto;
}
.last-sec h1{
    font-size:500%;
    font-weight: 700;
    color: #FFF;
}
.last-sec .yello{
    color: #FFCC29;
    font-weight: 900;
}
.last-sec p{
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
}
.last-sec p span{
    font-size: 270%;
    color: #FFCC29;
    font-weight: 900;
}

/* footer */
.footer{
    /* width: 92rem; */
    width: 100%;
    height: 64px;
    background-color: #000;
    color: #f6f2f2;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-sec{
    /* width:1110px ; */
    width: 100%;
    height:24px ;
    margin-bottom: 0 0 0.5rem;
    font-size: 1rem;


}








