body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img{
    background-image: url(./asset\ 10.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.mb-5{
    font-size: 500%;
}

