
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&family=Rubik+Gemstones&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121313;
  }
  /* --------------------- */
  .container1{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .bubbles{
    position: relative;
    display: flex;
  }
  .bubbles span {
    position: relative;
    width: 30px;
    height: 30px ; 
   background: #4fc3dc;
    margin:  0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #85cbdb44,0 0 50px #4fc3dc,0 0 100px #00dfc4;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/ var(--i) );
  
  }
  .bubbles span:nth-child(even){
    background:#e1b6c5;
    box-shadow: 0 0 0 10px #d2a3b3,0 0 50px #bd8f9f,0 0 100px #bf91a1;
  
  }
  
  @keyframes animate {
    0%{
      transform: translateY(100vh) scale(0);
    }
    100%{
      transform: translateY(-10vh) scale(1);
    }
    
  }
  /* ------------------ */
  .container{
    padding: 40px;
   
  }
  .container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;


  }
  

  .container .form h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .container .form .inputBox{
    position: relative;
    width: 300px;

  }
  .container .form .inputBox input{
    padding:  12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #223243;
    border:  1px solid rgba(0,0,0,0.1);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.5s;
    outline: none;
  }
  .container .form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color:rgba(255, 255, 255,0.5) ;
  }
  .container .form .inputBox input:valid ~span,
  .container .form .inputBox input:valid ~span
  {
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: #223243;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;

  }
  .container .form .inputBox input:valid,
  .container .form .inputBox input:focus
  {
    border: 1px solid #00dfc4;
  } 
  
  .container .form .inputBox  i{
    position: absolute;
    top: 15px;
    left: 16px;
    padding: 2px 0;
    padding-right: 8px;

    color: #00dfc4;
    border-right: 1px solid #00dfc4;
  }
  .container .form .inputBox input[type="submit"]{
    background-color: #00dfc4;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0,0.35),inset -5px -5px 15px rgba(255, 255, 255, 0.1),inset 5px 5px 15px rgba(0,0,0,0.35) ;

  }
  .conatiner .form p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    font-weight: 300;
  }
  .conatiner .form p a{
    font-weight: 500;
    color: #fff;

  }
 
  .login{
    text-decoration: none;
    color: #fff;
  }


